body {
    margin: 0;
   background-image: linear-gradient(to top, rgba(171, 213, 255, 0.39) 0%, white 100%);
}

canvas#canvas {
    position: absolute;
    left: 0;
    right: 0;
    /* width: 800px;
    height: 480px; */
    margin: auto;
}